//* @group ----- Home ----- */
#aas-logo img {
    float:right;
    margin-right:10px;
    width:75%;
}

#aas-logo p {
    font-style: italic;
    color:#777;
}


#featured-item img { max-width: 50%; }

//* @end */